//  list item ---------

.itemDate{
    font-size: 12px;
    color: gray;
    margin-top:6px;
}

.itemDesc{
     font-size: 15px;
     color:black;
}

.itemAmount{
    width:'100%';
    font-size: 16px;
    padding-right: 2px;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.itemAmountNegative{
    @extend .itemAmount;
    color:orange;
}

.itemAmountPossitive{
    @extend .itemAmount;
    color:#58b45f;
}
 
  
/* Buttons -----------------------------------------------------------------------*/
.mobileapp-button{ 
        @extend .greenGradient;
            .x-button-label{
                color:white;
                font: normal 15px/ 18px Helvetica, sans-serif; 
                padding-left: 6px;
            }
            .x-button-icon{
                color: white;
                font-size: 1em; 
            }
}

.mobileapp-button-disabled{ 
        @extend .greenGradientDisabled;
            .x-button-label{
                color:white;
                font: normal 15px/ 18px Helvetica, sans-serif; 
                padding-left: 6px;
            }
            .x-button-icon{
                color: white;
                font-size: 1em; 
            }
}

.registerButton{ 
        background-image: -webkit-linear-gradient(top, #201747 50%, #201747, #201747, #201747 50%)!important;
        background-image: -moz-linear-gradient(top, #201747 50%, #201747, #201747, #201747 50%)!important;
        background-image: -o-linear-gradient(top, #201747 50%, #201747, #201747, #201747 50%)!important;
        background-image: -ms-linear-gradient(top, #201747 50%, #201747, #201747, #201747 50%)!important;
 
            .x-button-label{
                color:#f3e500;
                font: normal 15px/ 18px Helvetica, sans-serif;  
            }
            .x-button-icon{
                color: #f3e500;
                font-size: 1.2em; 
            }
}

.greenGradient{
        background-image: -webkit-linear-gradient(top, #078241, #07a74f, #1fb053 51%, #58b45f)!important;
        background-image: -moz-linear-gradient(top, #078241, #07a74f, #1fb053 51%, #58b45f)!important;
        background-image: -o-linear-gradient(top, #078241, #07a74f, #1fb053 51%, #58b45f)!important;
        background-image: -ms-linear-gradient(top, #078241, #07a74f, #1fb053 51%, #58b45f)!important; 
 }

 .greenGradientDisabled{
        background-image: -webkit-linear-gradient(top, #8CEDBC 75%, #8CEDBC, #8CEDBC 51%, #8CEDBC 75%)!important;
        background-image: -moz-linear-gradient(top, #078241, #07a74f, #1fb053 51%, #58b45f)!important;
        background-image: -o-linear-gradient(top, #078241, #07a74f, #1fb053 51%, #58b45f)!important;
        background-image: -ms-linear-gradient(top, #078241, #07a74f, #1fb053 51%, #58b45f)!important; 
 }

//Toolbar
.x-toolbar{
     background-color: '#201747';
     color:white!important;
    .x-body{
        height:100%!important;
        .x-toolbar-inner{
            height:100%!important;
                padding: 0!important;
            .x-titlebar-right{
                height:100%!important; 
                margin-right: 0!important; 
            }
        }
    }
}

//Nav View
.x-toolbar .x-title{
      color:white!important;
}

.x-button-back span {
color: #201747;
}

//This was causing issue in the mobile
.x-layout-box .x-layout-vbox-item.x-flexed > .x-body:not(.x-scroller), .x-layout-box .x-layout-vbox-item.x-flexed > .x-inner, .x-layout-box .x-layout-hbox-item.x-stretched > .x-body:not(.x-scroller), .x-layout-box .x-layout-hbox-item.x-stretched > .x-inner{
    height:100%!important;
}
 
.mobileapp-button.x-button-pressing {
    background: $green-light;
    .x-button-label{
        color:white;
    }
}
/* Lists -----------------------------------------------------------------------*/
 
 

/* Picker -------------------------------------------------------------*/
.x-picker{
    background: none;
    .x-dock{
        .x-toolbar{
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
            background: transparent;
            border-top-color: #484848;
            border-bottom: 1px solid #313945;
            background-image: linear-gradient(to bottom,rgba(0,0,0,.4)0%,rgba(0,0,0,.55)50%,rgba(0,0,0,.6)50%);
            background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.4)),color-stop(.5,rgba(0,0,0,.55)),color-stop(.5,rgba(0,0,0,.6)));

            & ~ .x-dock-body{
                background-image: linear-gradient(to bottom,#a2a3aa 2%,#80828b 12.5%,#73737d 25%,#484a55 49.5%,#272836 49.5%,#282a39 100%);
                background-image: -webkit-gradient(linear,left top,left bottom,color-stop(.02,#a2a3aa),color-stop(.125,#80828b),color-stop(.25,#73737d),color-stop(.495,#484a55),color-stop(.495,#272836),to(#282a39));
            }
        }
        .x-picker-bar{
            border-top: 1px solid #666;
            border-bottom: 1px solid #666;
            background-image: linear-gradient(to bottom,rgba(210,215,229,.55)0%,rgba(148,157,189,.65)50%,rgba(90,106,152,.55)50%,rgba(100,113,163,.55)100%);
            background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(210,215,229,.55)),color-stop(.5,rgba(148,157,189,.65)),color-stop(.5,rgba(90,106,152,.55)),to(rgba(100,113,163,.55)));
            box-shadow: inset 0 1px 0 #eceef2;
            background-color: transparent;
        }

        .x-button {
            background: $green;
            width: 70px;

            .x-button-label{
                text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
                font-weight: bold;
                font-size: 0.7em;
                color: white;
            }

            &.x-button-pressing {
                background-color: $green-light;
                background-image: none;
            }    
        }
    }
}
/*Alert ---------------------------------------------------------------*/
.x-msgbox{
    width: 275px;
    border: 2px solid rgba(221, 223, 228, 0.85);
    border-radius: 10px;
    padding: 10px 2px 10px 2px;
    background-color: rgba(24, 39, 69, 0.85);
    font-size: .8em;
    text-shadow: 0 -1px 1px #000;
    box-shadow: 0 5px 4px 0.1px #6a6a6a;

    .x-msgbox-title{
        height: 25px;
    }
    .x-title{
        font-size: 1.2em;
    }
 /*   .x-msgbox-text{
        color: white;
        margin-top: 5px;
        background-color:rgba(24, 39, 69, 0.85)
    } */
    .x-button {
        background: $green !important;
        width: 100px;
        height: 35px;

        .x-button-label{
            font-size: 1em;
            opacity: 1;
        }

        &.x-button-pressing {
            background-color: $green-light !important;
            background-image: none;
        }    
    }
}

/* Mask -----------------------------------------------------------------
.x-mask{
    background-color: rgba(0, 0, 0, 0.5);
}*/


/*Loading --------------------------------------------------------------*/
.loading{
    .x-mask-inner{
        background: none;
        width: 100%;
    }    
    .x-loading-spinner{
        -webkit-animation-duration:1.22s;
        font-size: 220%;
        bottom: 35px;
    }
    .x-mask-message{
        bottom: 105px;
        color: rgb(236, 236, 236);
        text-shadow: 0 1px rgba(0, 0, 0, 0.35) !Important;
        font: normal 14px/ 16px "Helvetica", sans-serif;
        font-size: 1em;
    }
}

 
 

  //-------- alert ----

  .x-msgbox-dark .x-dock .x-dock-body .x-dock  .x-dock-body{
       background-color:rgba(24,39,69,0.85)!important;
       text-shadow: 0 -1px 1px #000;
  }

  ::-webkit-input-placeholder {
   color: red;
}

:-moz-placeholder { /* Firefox 18- */
   color: red;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}

:-ms-input-placeholder {  
   color: red;  
}

//--------------- PERIOD PICKER ---------

.periodPicker{
    background-color:#201747;

    .periodPickerHeader{
         height: 35px !important;
        color:#fff; 
        text-align: center; 
        font-size: 1.1em;
        background-color:#201747;
    }

    .periodPickerFieldset{
        margin: .5em !important;

        .x-form-fieldset-inner{ 
            color:black;
            .x-field-select{
                .x-form-label{
                    margin-top:0px!important;
                    color:black!important;
                }
            } 
            .x-field .x-label-el, .x-textfield .x-input-el{
               color:black!important;
           }

        }
    }

    .periodPickerAccept{
        background-color:#58b45f;
    }
}





//------------------  MENU

.x-menu-inner, .x-menu{
    background-color:#024d86!important;
}

.blueGradient{
        background-image: -webkit-linear-gradient(top, #493F76, #201747 , #201747 , #201747)!important;
        background-image: -moz-linear-gradient(top, #544A83, #493F76, #201747 , #201747)!important;
        background-image: -o-linear-gradient(top, #544A83, #493F76, #201747 , #201747)!important;
        background-image: -ms-linear-gradient(top, #544A83, #493F76, #201747 , #201747)!important;
 }

 
.blueGradientBottom{
        background-image: -webkit-linear-gradient(top,#201747 , #201747 , #201747, #493F76)!important;
        background-image: -moz-linear-gradient(top,#201747 , #201747, #493F76, #544A83)!important;
        background-image: -o-linear-gradient(top,#201747 , #201747, #493F76, #544A83)!important;
        background-image: -ms-linear-gradient(top,#201747 , #201747, #493F76, #544A83)!important;
 }

.menu-button{
    background-color: #201747;
    background-image:none;
  //  border: 1px solid white;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: white;
    margin-bottom:0px!important;
    color: white;
    height: 50px;

    .x-button-label{
        font-weight:bold;
        margin-left:0px!important;
        color: white;
    }  

    .x-button-icon{ 
        font-size: 1em; 
        color:white;
    }
}

.menu-button-header{
    @extend .blueGradient;
    @extend .menu-button;
    border-bottom-width: 1px!important;
}

.menu-button-bottom{
    @extend .blueGradientBottom;
    @extend .menu-button; 
}
 

.menu-button-top{
    margin-top:30px!important;
    margin-bottom:0px!important;
    border-radius: 7px 7px 0px 0px!important;
    -webkit-border-radius:7px 7px 0px 0px!important;
    border-width:1px 1px 0px 1px;
    }

.menu-button-middle{
    margin-bottom:0px!important;
    border-radius: 0px!important;
    -webkit-border-radius: 0px!important;
    border-width:1px 1px 0px 1px;
    } 

.menu-button-down{ 
    border-radius: 0px 0px 7px 7px!important;
    -webkit-border-radius: 0px 0px 7px 7px!important; 
    }  

.menu-space{
    background-color: #024d86!important;
    border-width:0px;
    background-image:none!important;
}

.mtop-30{
  margin-top:30px!important;  
}

.menu-lebel{ 
    @extend  .menu-space;
    padding-left: 0px!important;
    padding-right: 0px!important;
    color: white;

    p{
       font-weight:100!important;
       font-size:13px;
    }

    a{
        font-weight:100!important;
        font-size:14px;
        color:white;
        text-decoration:none;
    }

    span{
         font-size:11px;
    }

       .x-button.x-button-pressing,.x-button.x-button-pressed{
        background-image: -webkit-linear-gradient(top, #024d86, #023159, #023159 51%, #023159)!important;
        background-image: -moz-linear-gradient(top, #024d86,#023159, #023159 51%, #023159)!important;
        background-image: -o-linear-gradient(top, #024d86, #023159, #023159 51%, #023159)!important;
        background-image: -ms-linear-gradient(top, #024d86, #023159, #023159 51%, #023159)!important; 
    }
}

//radio button

 .x-radiofield .x-label-el{
     width: 100%!important;
     padding-left: 25px;
     text-align:left!important;
 }