/* TitleBar & ToolBar ---------------------------------------------------------- */
.mobileapp-titlebar{
   // background-color: white;
    border-bottom: none !important;
    height: 50px;    
    background-image: none;

    .x-title{
        width: 100% !important;
        text-shadow: 0 0;

        .x-innerhtml{
            //color: $red;
            font-weight: 30;
            font-size: 20px;
            font-weight: 200;
            .title-left{              
                //position: relative;
                //left: -75px;   
                margin-right: 2000px;
            }
        }  
    } 
    

    .x-button {
        width: 45px;
        border:none;
       // border-color:white;
        background: $green;
        //border-radius: $box-radius;
        box-shadow: none;

        .x-button-label{
            text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
            font-weight: bold;
            font-size: 0.7em;
            color: white;
        }

        &.x-button-pressing {
            background-color: $green-light;
            background-image: none;
        }    
    }
    .backButton{
        background: none;
        width: auto;
        padding: 0;
        border: none;
        z-index: 999;

        .x-button-icon{
            color: $red;
            font-size: 1.3em;
            margin-top: -6px;
        }

        .x-button-label{
            color: $red;
            font-weight: 200;
            font-size: 24px;
            text-shadow: 0 0;
            margin-left: 2px;
        }        
        &.x-button-pressing {
            @extend .backButton;
            .x-button-icon{
                color: $red-light;
            }
        } 
    } 
}

.x-tabbar{
  //  background-image:  -webkit-gradient(linear,left top,left bottom,from(#2f2f2f),color-stop(.5,#141414),color-stop(.5,#000),to(#000));
   // background-image: linear-gradient(to bottom,#2f2f2f 0%,#141414 50%,#000 50%,#000 100%);
    height: 50px !important;
    //padding: 1px 2px 2px 2px;
    .x-button{
        height: 45px;
        margin: 0;
        padding-top: 5px;
        border-radius: 2px;
    }
    .x-button-label{
        font-size: 0.72em;
        color: white;
    }
    .x-button-icon {
        color: white;
    }
    .x-tab{

        &.x-tab-active {
            background: rgba(255, 255, 255, 0.15);

            .x-button-icon::before{
                color:white;
            }
        }
    }
}

/* Buttons -----------------------------------------------------------------------*/
.mobileapp-button{ 
        background-image: -webkit-linear-gradient(top, #078241, #07a74f, #1fb053 51%, #58b45f)!important;
        background-image: -moz-linear-gradient(top, #078241, #07a74f, #1fb053 51%, #58b45f)!important;
        background-image: -o-linear-gradient(top, #078241, #07a74f, #1fb053 51%, #58b45f)!important;
        background-image: -ms-linear-gradient(top, #078241, #07a74f, #1fb053 51%, #58b45f)!important; 

            .x-button-label{
                color:white;
                font: normal 15px/ 18px Helvetica, sans-serif; 
                padding-left: 6px;
            }
            .x-button-icon{
                color: white;
                font-size: 1em; 
            }
}

.registerButton{ 
        background-image: -webkit-linear-gradient(top, #000000, #0d1a00, #001a1a, #0d001a)!important;
        background-image: -moz-linear-gradient(top, #000000, #0d1a00, #001a1a, #0d001a)!important;
        background-image: -o-linear-gradient(top, #000000, #0d1a00, #001a1a, #0d001a)!important;
        background-image: -ms-linear-gradient(top, #000000, #0d1a00, #001a1a, #0d001a)!important; 

  
            .x-button-label{
                color:#efd013;
                font: normal 15px/ 18px Helvetica, sans-serif;  
            }
            .x-button-icon{
                color: #efd013;
                font-size: 1.2em; 
            }
}


// .mobileapp-button {
//     background: $green;
//     border-radius: 3px;// $box-radius;
//     text-shadow: 0 1px 1px black;
//     border: none;

//     .x-button-label{
//         color:white;
//         font: normal 15px/ 18px Helvetica, sans-serif; 
//     }
//     .x-button-icon{
//         color: white;
//         font-size: 1em;
//         padding-right: 4px;
//     }
// }
.mobileapp-button.x-button-pressing {
    background: $green-light;
    .x-button-label{
        color:white;
    }
}
/* Lists -----------------------------------------------------------------------*/
.searchContainer{
    //border-radius: $box-radius;
    // border: solid 1px $gray-dark; 
}

.mobileapp-list {
    background-color: white!important;
   // border-radius: $box-radius;
    border: 1px solid gray;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.3);

    .x-list-item-inner{
        height: 60px;

        .x-list-item-body{
            padding: 6px;
        }
    }
    .x-list-item{
        .x-innerhtml{
            color: grey;  //for test
            font-weight: 100;
        }
        .listRightArrow:before{
            font-family: "mobileapp";
            content: '\e601';
       //     font-weight: bold;
            margin-right: 5px;
        }

        .item {
            float: left;
            margin-top:4px;
            .title {
                color: rgba(24,39,69,0.99);//$gray-dark;
                font-size: 21px;
                font-weight: 100;
            }

            .subtitle {
                color: $gray-light;
                font-size: 0.72em;
                font-weight: 300;
                margin-top: 0.2em;
            }
        }

        .price {
            float: right;
            color: $green;
            margin-right: 2px;
            line-height: 39px;
            font-size: 16px;
            font-weight: bold;
        }
        .badge {
            @extend .price;

           // background-color: $green;
            border-radius: 1em;
            border: 2px solid #1468A2;
            margin-top:13px !important;
            font: normal 17px "Helvetica", sans-serif;
            font-weight: 200;
            color:#1468A2;
            padding: 0 6px;
            line-height: 25px;
            min-width: 40px;
            text-align: center;
            margin-right:5px;
        }

        .plainbadge{
            @extend .price;

            //background-color:$green;
           // border-radius: 1em;
           // border: 2px solid rgba(252, 248, 248, 0.88);
            margin-top:0px !important;
            font: normal 20px "Helvetica", sans-serif;
            font-weight: 200;
            color:$green;
            padding: 0 16px;
            line-height: 25px;
            min-width: 40px;
            text-align: center;
            margin-right: 0px;

            .item{
                margin-top: 0px!important;
            }
        }

        .x-list-disclosure{
                margin: 5px 7px 0px 0px;
        }

        &.x-list-item-first {
            border-top: none;
            .x-dock-horizontal {
                border-top: none;
            }
        }

        &.x-item-pressed .x-list-item-inner {
            background: $blue-list-item-pressed;
            color: white;

            .x-innerhtml, .title, .subtitle{
                color: white;
            }
        }
    }

    .x-list-paging-msg{
        color: $gray-light;
        font-size: 0.8em;
    }

    .deleteButton{
        background-image: none;
        background-color: $red;
        height: 40px;
        font-size: 13px;
        width: 60px;
        margin-right: 10px;
        z-index: 999;

        span{
            color: white;
            text-shadow: 0 1px 1px black !important;
        }

        &.x-button-pressing {
            background-color: $red-light;
        }
    }

}


/*Popover--------------------------------------------------------*/


/* Picker -------------------------------------------------------------*/
.x-picker{
    background: none;
    .x-dock{
        .x-toolbar{
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
            background: transparent;
            border-top-color: #484848;
            border-bottom: 1px solid #313945;
            background-image: linear-gradient(to bottom,rgba(0,0,0,.4)0%,rgba(0,0,0,.55)50%,rgba(0,0,0,.6)50%);
            background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.4)),color-stop(.5,rgba(0,0,0,.55)),color-stop(.5,rgba(0,0,0,.6)));

            & ~ .x-dock-body{
                background-image: linear-gradient(to bottom,#a2a3aa 2%,#80828b 12.5%,#73737d 25%,#484a55 49.5%,#272836 49.5%,#282a39 100%);
                background-image: -webkit-gradient(linear,left top,left bottom,color-stop(.02,#a2a3aa),color-stop(.125,#80828b),color-stop(.25,#73737d),color-stop(.495,#484a55),color-stop(.495,#272836),to(#282a39));
            }
        }
        .x-picker-bar{
            border-top: 1px solid #666;
            border-bottom: 1px solid #666;
            background-image: linear-gradient(to bottom,rgba(210,215,229,.55)0%,rgba(148,157,189,.65)50%,rgba(90,106,152,.55)50%,rgba(100,113,163,.55)100%);
            background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(210,215,229,.55)),color-stop(.5,rgba(148,157,189,.65)),color-stop(.5,rgba(90,106,152,.55)),to(rgba(100,113,163,.55)));
            box-shadow: inset 0 1px 0 #eceef2;
            background-color: transparent;
        }

        .x-button {
            background: $green;
            width: 70px;

            .x-button-label{
                text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
                font-weight: bold;
                font-size: 0.7em;
                color: white;
            }

            &.x-button-pressing {
                background-color: $green-light;
                background-image: none;
            }    
        }
    }
}
/*Alert ---------------------------------------------------------------*/
.x-msgbox{
    width: 275px;
    border: 2px solid rgba(221, 223, 228, 0.85);
    border-radius: 10px;
    padding: 10px 2px 10px 2px;
    background-color: rgba(24, 39, 69, 0.85);
    font-size: .8em;
    text-shadow: 0 -1px 1px #000;
    box-shadow: 0 5px 4px 0.1px #6a6a6a;

    .x-msgbox-title{
        height: 25px;
    }
    .x-title{
        font-size: 1.2em;
    }
 /*   .x-msgbox-text{
        color: white;
        margin-top: 5px;
        background-color:rgba(24, 39, 69, 0.85)
    } */
    .x-button {
        background: $green !important;
        width: 100px;
        height: 35px;

        .x-button-label{
            font-size: 1em;
            opacity: 1;
        }

        &.x-button-pressing {
            background-color: $green-light !important;
            background-image: none;
        }    
    }
}

/* Mask -----------------------------------------------------------------
.x-mask{
    background-color: rgba(0, 0, 0, 0.5);
}*/


/*Loading --------------------------------------------------------------*/
.loading{
    .x-mask-inner{
        background: none;
        width: 100%;
    }    
    .x-loading-spinner{
        -webkit-animation-duration:1.22s;
        font-size: 220%;
        bottom: 35px;
    }
    .x-mask-message{
        bottom: 105px;
        color: rgb(236, 236, 236);
        text-shadow: 0 1px rgba(0, 0, 0, 0.35) !Important;
        font: normal 14px/ 16px "Helvetica", sans-serif;
        font-size: 1em;
    }
}


//-----------  time-toolbar  ----------------

.time-toolbar .x-segmentedbutton-inner{
    background-color: #1468A2;

    .x-button{
        background-color:white;
        .x-button-label {
            font-weight: 100;
            font-size:14px;
        }
    }
} 


//--------- footer - bar -----------

.docked-button{
    .x-button{
        color:$green;
        background-color:white;

       .x-button-label{
         font-weight: 100;
         font-size:16px;
       }
    }

    .x-first, .x-flexed{
        border-right: none;
    }

    .x-inner .x-container .x-inner .x-button-pressed{
        background-color:white;
        background-image:none;
    }

} 
  

  //-------- alert ----

  .x-msgbox-dark .x-dock .x-dock-body .x-dock  .x-dock-body{
       background-color:rgba(24,39,69,0.85)!important;
       text-shadow: 0 -1px 1px #000;
  }

  ::-webkit-input-placeholder {
   color: red;
}

:-moz-placeholder { /* Firefox 18- */
   color: red;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}

:-ms-input-placeholder {  
   color: red;  
}

//--------------- PERIOD PICKER ---------

.periodPicker{
    background-color:$green;

    .periodPickerHeader{
         height: 35px !important;
        color:#fff; 
        text-align: center; 
        font-size: 1.1em;
        background-color:$green;
    }

    .periodPickerFieldset{
        margin: .5em !important;

        .x-form-fieldset-inner{
            .x-field-select{
                .x-form-label{
                    margin-top:0px!important;
                }
            }
        }
    }

    .periodPickerAccept{
        background-color:'green';
    }
}
 